name: Builder

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        arch: [amd64, aarch64, armhf, armv7, i386]
        include:
          - arch: amd64
            platform: linux/amd64
          - arch: aarch64
            platform: linux/arm64
          - arch: armhf
            platform: linux/arm/v6
          - arch: armv7
            platform: linux/arm/v7
          - arch: i386
            platform: linux/386
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ${{ matrix.arch }}
        uses: docker/build-push-action@v6
        with:
          context: ./viessmann-decoder
          file: ./viessmann-decoder/Dockerfile
          platforms: ${{ matrix.platform }}
          push: false
          tags: test/viessmann-decoder-${{ matrix.arch }}:test
          build-args: |
            BUILD_FROM=docker.io/library/alpine:3.19
