name: "Publish"

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push all architectures
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --arch: [amd64, aarch64, armhf, armv7, i386]
            --target viessmann-decoder \
            --docker-hub ghcr.io/${{ github.repository_owner }}
