name: "Test Build"

on: 
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      
      - name: Test build
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --test \
            --amd64 \
            --aarch64 \
            --target viessmann-decoder \
            --docker-hub ghcr.io/${{ github.repository_owner }}
